
.popupContent {
  display: flex;
  flex-direction: column;
}

.popupThumbnailContainer {
  overflow-x: auto;
}

.popupThumbnail {
  display: inline-block;
}

.popupIframe {
  height: 100%;
}

.leaflet-popup-close-button {
  display: none; 
}

.leaflet-popup-content-wrapper {
  background-color: #6d695e;
}
.leaflet-popup-tip {
  background-color: #6d695e;
}

.popupHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.popupHeaderTitle {
  flex: 1;
}

.popupHeaderToolbar {
  flex: 0;
}

.popupHeaderTitle a {
  color: white;
}