@import url(../Constants.css);

.App {
  display: flex;
  flex-direction: column;
}

.Footer {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: var(--wc-bg-color);
  width: 48px;
  height: 48px;
  z-index: 500;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.targetButton{
  font-size: 28px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.bigIcon{
  margin: 5px;
}