.App {
  display: flex;
  flex-direction: column;
}

.Footer {
  position: fixed;
  bottom: 20px;
  right: 0;
  background-color: transparent;
  z-index: 500;

}

.targetButton{
  font-size: 24px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 5px;
}