@import url(../Constants.css);

.popupContent {
  display: flex;
  flex-direction: column;
}

.popupThumbnailContainer {
  overflow-x: auto;
}

.popupThumbnail {
  display: inline-block;
}

.popupIframe {
  height: 100%;
  border: none;
}

.leaflet-popup-close-button {
  display: none; 
}

.leaflet-popup-content-wrapper {
  background-color: var(--wc-bg-color);
}
.leaflet-popup-tip {
  background-color: var(--wc-bg-color);
}

.popupHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.popupHeaderTitle {
  flex: 1;
}

.popupHeaderToolbar {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -10px;
}

.popupHeaderTitle a {
  color: white;
}

.closeButton {
  font-size: larger;
  margin-left: 20px;
  cursor: pointer;
  color: var(--wc-bg-color-lighter);
}