@import url(./Constants.css);

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  z-index: 500;
  background-color: transparent;
  color: white;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
}

.HeaderLeft {
  flex: 1;
  display: flex;
}
.HeaderTitle {
  flex: 0;
  margin: 10px;
  white-space: nowrap;
  background-color: var(--wc-bg-color);
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
}

.HeaderToolbar {
  flex: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--wc-bg-color);
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  align-items: center;
  white-space: nowrap;
}

.prefNumber {
  margin-right: 5px;
}


