@import url(./Constants.css);

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  z-index: 600;
  background-color: transparent;
  color: white;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
}

.HeaderToolbar {
  flex: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--wc-bg-color);
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px #000000);
}
.HeaderToolbar:hover {
  background-color: var(--wc-bg-color-darker);
}

.prefNumber {
  margin-right: 5px;
}


